<!-- Encabezado principal -->
<h1 class="text-center">Bienvenido al Mercado web, añade su producto al carrito</h1>

<!-- Sección principal para mostrar los productos -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <!-- Iterar sobre la lista de productos y renderizar el partial "products" para cada uno -->
            {{#each products}}
                {{> products }}
            {{/each}}
        </div>
    </div>
</section>

<!-- Modal para mostrar los productos seleccionados -->
<div class="modal" tabindex="-1" id="productosModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Productos Seleccionados</h5>
                <!-- Botón para cerrar el modal -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Mensaje de carrito de compras vacío -->
                <p>Carrito de compras: VACÍO</p>
            </div>
            <div class="modal-footer">
                <!-- Botón para cancelar la compra -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <!-- Botón para realizar la compra -->
                <button type="button" class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>
</div>
